

<div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="margin-left: 100px; margin-top: 50px;">
        <div *ngIf="item" style="border: 1px white solid; background-color: rgba(0,0,0,0.7) !important;">
            <p style="color: white; text-align: center;">Are you sure you want to delete this account?</p>
            <button class="btn btn-success" style="margin-left: 100px;" (click)="delete()">CONFIRM</button>&nbsp;
            <button class=" btn btn-danger" (click)="cancel()">CANCEL</button>
        
        </div> 
        
    </div>
    <div class="col-4"></div>
</div>